.course-portlet-web {
}

.radio-group {
	display: flex;
}

.radio-group .radio{
	margin-right: 30px;
}

.radio + .radio {
    margin-top: 10px !important;
}

.lexicon-icon-custom {
	font-size: 6px !important;
}
