.newsletter-listing {
}

.newsletter-container{
    border-bottom-style: dashed;
    border-color: #ddd;
    margin-bottom: 20px;
}

.month-label {
	padding: 5px;
	border: 1px solid #ddd;
	background: #ddd;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
}

.text-title {
	color: blue;

}

.text-newsletter {
	font-size: 20px;
	font-weight: bold;
}
